<header>
	<div class="logo wa-cluster">
		<img src="/vfu/img/vfu_clean.png">
		<h1>Velforeningenes fellesutvalg, Haugesund</h1>
	</div>
	<wa-divider></wa-divider>
  <div class="wa-cluster">
	  {% if page.url != "/" %}
		<a href="{{ '/' | relative_url }}">Startsiden</a>
	  {% else %}
		<div>Startsiden</div>
	  {% endif %}
	  <a href="{{ '/' | relative_url }}">Artikler</a>
	  <a href="{{ '/' | relative_url }}">Tilskudd</a>
	  <a href="{{ '/' | relative_url }}">Medlemskap</a>
	  <a href="{{ '/' | relative_url }}">Lenker</a>
	  <a href="{{ '/' | relative_url }}">Om oss</a>
	  <a href="{{ '/' | relative_url }}">Kontakt</a>
  </div>
  <wa-divider></wa-divider>
  <div class="mode-selector-wrapper">
	<wa-dropdown class="mode-selector">
		<wa-button appearance="plain" class="front-icon" slot="trigger">
			<wa-icon name="moon"></wa-icon>
		</wa-button>
		<wa-dropdown-item value="light">
			<wa-icon slot="icon" name="sun" variant="regular"></wa-icon>
			Light
		</wa-dropdown-item>
		<wa-dropdown-item value="dark">
			<wa-icon slot="icon" name="moon"></wa-icon>
			Dark
		</wa-dropdown-item>
		<wa-dropdown-item value="system" class="system-icon">
			
		</wa-dropdown-item>
	</wa-dropdown>
  </div>
</header>