<header>
	<h1>Velforeningenes fellesutvalg, Haugesund</h1>
  <div class="wa-cluster">
	  {% if page.url != "/" %}
		<a href="{{ '/' | relative_url }}">Startsiden</a>
	  {% else %}
		<div>Startsiden</div>
	  {% endif %}
	  <a href="{{ '/' | relative_url }}">Artikler</a>
	  <a href="{{ '/' | relative_url }}">Tilskudd</a>
	  <a href="{{ '/' | relative_url }}">Medlemskap</a>
	  <a href="{{ '/' | relative_url }}">Lenker</a>
	  <a href="{{ '/' | relative_url }}">Om oss</a>
	  <a href="{{ '/' | relative_url }}">Kontakt</a>
  </div>
  <wa-divider></wa-divider>
</header>